*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
h2{
   text-align: center;
   margin:20px;
   width: 300px;
   height: 37px;
   border: 1px solid black;
   border-radius: 50px;
   color: white;
   background-color: black;
   padding-top: 2px;
   margin: 0 auto;
   margin-top: 20px;
}
.line_one p{
    width: 600px;
    height: 250px;
    margin-left: 20px;
    
}
.line_one{
    display: flex;
}
.line_two{
    display: flex;
}
img{
    width: 290px;
    height: 200px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 9px 9px 12px black;
}
.hov img:hover{
    width: 200px;
    height: 200px;
    background-size: cover;
}
.line_two p{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    padding-top: 9px;
}
.bord{
    width: 650px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 8px;
    box-shadow: 9px 9px 12px black;
    background: linear-gradient(white,rgb(245, 133, 152),rgb(102, 102, 196));
    font-weight:bold;
}
.bord:hover{
    color: rgb(10, 10, 10);
    background: linear-gradient(white,rgb(236, 46, 46),rgb(72, 238, 31));
    font-weight:bold;
}
.hov{
    margin-top: 25px;
}

@media (max-width:944px) {
    h2{
        width: 240px;
        height: 40px;
        padding-top: 5px;
    }
    .bord{
        width: 300px;
        height: 500px;
    }
    .line_one p{
        width: 250px;
        height: 400px;
    }
    img{
        margin-top: 10px;
    }
    .line_one{
        display: flex;
        flex-wrap: wrap;
    }
    .line_two{
        display: flex;
        flex-wrap: wrap;
    }
    .line_two p{
        width: 250px;
        height: 400px;
    }
    .big_container{
        margin-left:30px;
    }
}
