*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin-top: 5px;
    background: linear-gradient(white,rgb(214, 81, 81) , rgb(45, 45, 219));

}
.page_container{
padding-top: 20px;
height: 400px;
width: 400px;
background-color: rgb(155, 186, 228);
margin:0 auto;
border: 1px solid black;
margin-top: 40px;
border-radius: 40px;
text-align: center;
}
h2{
color: rgb(15, 15, 197);
}
.input{
padding-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;

}
.input:hover{
border-radius: red;
}
.input input{
border:1px solid black;
border-radius: 15px;
height: 25px;
width: 300px;
padding-left: 10px;
}
.signUp_button{
padding-top: 0.3rem;
height: 30px;
width: 200px;
background-color: rgb(86, 86, 172);
color: white;

border-radius: 20px;
margin: auto;

box-shadow: 9px 8px 18px rgb(0, 0, 0) ;
}
.signUp_button:hover{
 background-color:blue ;
}
.login_button{
margin-top: 10px;
background-color: rgb(60, 60, 102);
}
.login_button:hover{
background-color: blueviolet;
}
h5{
margin-top: 10px;
}